<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <!-- SEO Meta Tags-->
    <meta name="keywords" content="quicky, chat, messenger, conversation, social, communication"/>
    <meta name="description"
          content="Quicky is a Bootstrap based modern and fully responsive Messaging template to help build Messaging or Chat application fast and easy."/>
    <meta name="subject" content="communication">
    <meta name="copyright" content="frontendmatters">
    <meta name="revised" content="Sunday, July 18th, 2010, 5:15 pm"/>
    <title>Quicky - HTML Chat Template</title>
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="./../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./../favicon-16x16.png">
    <link rel="shortcut icon" href="./../favicon.ico"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./../assets/webfonts/inter/inter.css">
    <link rel="stylesheet" href="./../assets/css/app.min.css">
    <style type="text/css">
        #oldAvatar {
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }
    </style>

</head>

<body class="authentication-page">
<div id="app">
    <!-- Main Layout Start -->
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">修改资料</h1>
                    <div class="form-group">
                        <img :src="user.avatar" id="oldAvatar">
                    </div>
                    <div class="form-group">
                        <input type="file" id="avatar" placeholder="上传头像" class="form-control form-control-md"
                               style="display: none;">
                        <span @click="upload" class="btn btn-lg btn-primary">更换头像</span>
                        <span @click="revert" class="btn btn-lg btn-primary">还原</span>
                        <span @click="preview" class="btn btn-lg btn-primary">预览</span>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <label for="oldPwd" class="sr-only">旧密码</label>
                        <input type="password" class="form-control form-control-md" id="oldPwd" placeholder="输入旧密码"
                               v-model="user.oldPwd"
                        >
                    </div>

                    <div class="form-group">
                        <label for="newPwd" class="sr-only">新密码</label>
                        <input type="password" class="form-control form-control-md" id="newPwd" placeholder="输入新密码"
                               v-model="user.newPwd"
                        >
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary"
                            @click="changeUserInfo"
                    >
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Layout End -->
</div>


<!-- Javascript Files -->
<!--<script src="./../assets/vendors/jquery/jquery-3.5.0.min.js"></script>-->
<!--<script src="./../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>-->
<script src="./../assets/vendors/svg-inject/svg-inject.min.js"></script>
<!--<script src="./../assets/js/app.min.js"></script>-->
<script src="./../assets/css/vue.js"></script>
<script src="./../assets/css/vue-resource.js"></script>
<script src="./../assets/css/common.js"></script>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            user: {
                avatar: '',
                newAvatar: '',
                userId: '',
                oldPwd: '',
                newPwd: '',
                token:'',
            }
        },

        mounted() {
            let userStr = common.getcookie('user');
            if (userStr == false) {
                alert('请先登录');
                // 跳转到登录页面
                // todo
                return;
            }
            let user = JSON.parse(userStr);
            if (!user) {
                alert('请先登录');
                // 跳转到登录页面
                // todo
                return;
            }
            // todo 根据userId获取客户资料
            this.user.avatar = common.staticImagePath + user.avatar;
            this.user.userId = user.id;
            this.user.newAvatar = '';
            this.user.newPwd = '';
            this.user.oldPwd = '';
            this.user.token = user.token;
            console.log(this.user)
        },
        created() {
        },
        methods: {
            upload() {
                document.getElementById('avatar').click();
            },
            preview() {
                let inputElement = document.getElementById("avatar");
                let fileList = inputElement.files;
                for (let i = 0; i < fileList.length; i++) {
                    console.log(fileList[i]);
                    console.log(fileList[i].name);
                    let reader = new FileReader();
                    reader.readAsDataURL(fileList[i]);
                    reader.onload = function (e) {
                        let data = e.target.result;
                        document.getElementById('oldAvatar').src = data;
                        app.user.newAvatar = data;
                    }
                }
                // 上传文件后，需要再次选择文件
                inputElement.value = '';
            },

            revert() {
                document.getElementById('oldAvatar').src = this.user.avatar;
                this.user.newAvatar = '';
            },

            // todo 修改用户信息
            changeUserInfo() {
                if (this.user.userId == '' || this.user.userId == 0 || this.avatar == '') {
                    alert('用户数据不正常，不能修改用户资料');
                    return;
                }
                if (this.user.oldPwd != '' && this.user.newPwd != '' || this.user.newAvatar != '') {
                    // todo 修改数据，请求接口，newAvatar，传给后端，由后端去处理
                    let api = common.api.resetPwd;
                    this.$http.post((api), this.user, {emulateJSON: true}, {
                        headers: {
                            Authorization: 'Bearer ' + this.user.token,
                            'Content-Type': 'multipart/form-data',
                            'Access-Control-Allow-Origin':'*',
                            'Access-Control-Allow-Headers':'*',
                            'Access-Control-Allow-Methods':'GET, POST, PUT, OPTIONS',
                        },
                    }).then(response => {
                        let result = response.body;
                        console.log('---------clearSession start------');
                        console.log(result);
                        console.log('---------clearSession end------');
                        if (result.code == 0) {
                            alert('修改成功');
                            this.user = {};
                            common.logout();
                        } else {
                            alert(result.mgs);
                        }
                        return;
                    }, response => {
                        console.log(response);
                        alert('请正确填写资料');
                    }).finally(response => {
                    });
                } else {
                    alert('请正确填写资料或点击预览');
                }
            },

            getApiToken(){
                let userStr = common.getcookie('user');
                if (userStr == false) {
                    alert('请先登录');
                    // 跳转到登录页面
                    let loginPage = common.pageUrl.loginPage;
                    location.href = loginPage;
                    return;
                }
                let user = JSON.parse(userStr);
                if (!user) {
                    alert('请先登录');
                    // 跳转到登录页面
                    let loginPage = common.pageUrl.loginPage;
                    location.href = loginPage;
                    return;
                }
                this.token = user.token;
            },
        },
    })
</script>

</body>

</html>
